* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
}

header p {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 2rem;
    height: 100vh;
    padding: 2rem;
}

#box, #caixa {
    display: flex;
    justify-content: center;
    width: 38vw;
    height: 50vh;
    border: 1px solid red;
    padding: .5rem 0;
    gap: .2rem;
    background: white;
}

.colunas {
    display: flex;
    flex-direction: column;
    width: 9%;
    height: 100%;
    gap: .2rem;
}

.linhas {
    height: 9.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(1, 1, 173);
}

@media screen and (max-width: 1020px) {
    main {
        flex-direction: column;
        height: auto;
    }
    
    #box, #caixa {
        width: 85vw;
        height: 50vh;
        padding: .3rem 0;
    }

    .colunas {
        width: 9.5%;
    }

    .linhas {
        height: 10%;
    }
}
